<%- partial('star-bg') %>
<% if(path == 'index.html') { %>
  <div id="main" style="display: flex; justify-content: space-between; padding-top: 60px">
<% } %>
<% if(path != 'index.html') { %>
  <div id="main" style="display: flex; justify-content: space-between;">
<% } %>
  <div class="index-aside"><%- partial('_partial/aside') %></div>
  <div class="index-main"><%- partial('_partial/article') %></div>
</div>
